<div class="row">
    <div class="col-12">
      <h1 class="display-4 m-5 text-center">Skills</h1>
    </div>
  <div class="col">
    <h6 class="display-6 m-5 text-center">Technologies</h6>
    <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Python</h5>
        <h6 class="card-text">Technologies</h6>
        <ul>
          <li>Flask</li>
          <li>NLTK</li>
          <li>Scikit Learn</li>
          <li>PyMongo</li>
          <li>PIL</li>
          <li>Etc...</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>