<div class="row">
  <div class="col">
    <h4 class="display-6 m-5 p-5 text-center">Work Experience</h4>

<div class="accordion accordion-flush" id="accordionFlushWorkEx">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flushWE-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flushWE-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        <strong>Spothop</strong>
      </button>
    </h2>
    <div id="flushWE-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushWorkEx">
      <div class="accordion-body">
        <dl class="row">
          <dt class="col-sm-3">Term</dt>
          <dd class="col-sm-9">
            <ul>
              <li>April 2018 - October 2018</li>
              <li>August 2019 - June 2021</li>
            </ul>
          </dd>

          <dt class="col-sm-3">Role</dt>
          <dd class="col-sm-9">Back End Software Developer</dd>

          <dt class="col-sm-3">Responsibilities</dt>
          <dd class="col-sm-9">
            <ul>
              <li>Data Collection for Machine Learning and AI</li>
              <li>Maintained and Expanded both Proprietary and Open Source Annotation Tools</li>
              <li>Database Maintenance and Administration</li>
              <li>Data Management and Manipulation</li>
              <li>Extract-Transform-Load (ETL) Extracted Data into App-compatible data</li>
              <li>Development and Maintenance of Machine Assisted Review Clustering</li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  </div>

</div>
  </div>
</div>