<html>
	<head>
		<title>Registration</title>
	</head>
	<body>
		<b>Register</b>
		<form method="post">
			<label for="username">Username:</label><br>
			<input type="text" id="username" name="username" value="John"><br>
			<label for="password">Password:</label><br>
			<input type="password" id="password" name="password"><br>
			<label for="vrf_password">Verify Password:</label><br>
			<input type="password" id="vrf_password" name="vrf_password"><br>
			<input type="submit" value="Submit">
		</form> 
	</body>
</html>